{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h1>About This Application</h1>
<p>This is a Flask-based web application that integrates with the Wikipedia API to provide users with a simple way to
    search for and view summaries of Wikipedia articles.</p>

<h2>Features</h2>
<p>Search for any topic using the search functionality<p>
<p>View concise summaries of Wikipedia articles<p>
<p>Access direct links to full Wikipedia pages for more details<p>

<h2>About the Project</h2>
<p>This application is built as part of a practical exercise to demonstrate web development with Flask, API integration,
    and template-based UI design.</p>
<p>This Application is based on a demo project by Lindsay Ward, with additional modifications by Guanyu Lu.</p>
{% endblock %}